body {
    margin: 0px;
    border: 0px;
}

#navBar {
    width:100%;
    height:75px;
    background-color:aquamarine;
    
    line-height: 75px;
    font-size:50px;
    color:white;
    padding:10%;
}